body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #333;
}

main {
  width: 50vw;
  min-width: 35rem;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
}

.get-word,
.got-word {
  margin: 1.5rem 0;
}

.get-word {
  text-align: center;
}

button {
  border: solid .15rem royalblue;
  background: royalblue;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  border-radius: .25rem;
  box-shadow: 0 .15rem .5rem rgba(0, 0, 0, .15);
  cursor: pointer;
  transition: border 150ms, background 150ms;
}

button:hover,
button:focus {
  border-color: navy;
  background: navy;
}

h2,
.type {
  text-transform: capitalize;
}

ul>li {
  margin: .25rem 0 .75rem;
}

.type {
  color: #999;
  font-size: .925rem;
  margin-right: .15rem;
}
